<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/houseicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/houseicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".DrawerNavigationActivity"
            android:label="@string/title_activity_drawer_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".ScheduleActivityBasic"
            android:label="Schedule">

        </activity>

    </application>

</manifest>